1) List
    Method
    indexing
    slicing
    list comprehensive
2) loop
    for
    while
3) dictonary

# List

In [18]:
l1 = ["Mursal", 27, True, 3.5] #Index start from 0

In [2]:
print(l1)

['Mursal', 27, True, 3.5]

In [5]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
l1[-3] #Negative Indexing starts with -1

27

In [8]:
l1[1] #Positive Indexing starts with 0

27

In [10]:
len(l1) #Counts the length of elements/

4

In [32]:
l2=[1,2,4,52,62,76, 9, 2, 12]; l2 #Terminator is optional

[1, 2, 4, 52, 62, 76, 9, 2, 12]

In [33]:
l2[0]=5
l2

[5, 2, 4, 52, 62, 76, 9, 2, 12]

In [24]:
sorted(l2)

[1, 2, 4, 52, 62, 76]

In [35]:
sorted(l2, reverse=True)

[76, 62, 52, 12, 9, 5, 4, 2, 2]

In [34]:
reversed(l2)

range(start, end, step) #Generator Function
start =  include
end = exclude
step = sequence

In [40]:
raw = range(12, 100, 5)
raw

range(12, 100, 5)

In [41]:
list(range(1,11, 2))

[1, 3, 5, 7, 9]

In [44]:
chr(65)   #For Calling Characters by ASCII Codes

'A'

In [46]:
ord('A')   #For Calling ASCII Codes of Characters

65

In [50]:
l1 = list(range(65,91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

map   #Applies a function to every element of the list

In [52]:
for e in l1:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [63]:
list(map(chr, l1))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

#Task
#0-9(48 to 57)
#A-Z(65 to 90)
#a-z(97 to 122)

# Slicing

Slicing
obj[start:end :step] #Left to Right if step +ve anc vice-versa

Ending number is not included

In [71]:
l3=list(range(1,11))

In [66]:
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
#Extract first t values

l3[0:5]

[1, 2, 3, 4, 5]

In [69]:
l4=list(map(chr, list(range(65, 91))))
l4

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [72]:
l3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
list(enumerate(l3))

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]

In [75]:
list(enumerate(l4))

[(0, 'A'),
 (1, 'B'),
 (2, 'C'),
 (3, 'D'),
 (4, 'E'),
 (5, 'F'),
 (6, 'G'),
 (7, 'H'),
 (8, 'I'),
 (9, 'J'),
 (10, 'K'),
 (11, 'L'),
 (12, 'M'),
 (13, 'N'),
 (14, 'O'),
 (15, 'P'),
 (16, 'Q'),
 (17, 'R'),
 (18, 'S'),
 (19, 'T'),
 (20, 'U'),
 (21, 'V'),
 (22, 'W'),
 (23, 'X'),
 (24, 'Y'),
 (25, 'Z')]

In [82]:
l4[0:26]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [84]:
l4[0:]   #This considers the ending value till last

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [86]:
l4[-26:]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [87]:
l4[::2]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [88]:
l4[:2]

['A', 'B']

In [89]:
l4[:2] + l4[-3:]

['A', 'B', 'X', 'Y', 'Z']

## Comprehensive List

In [90]:
#True_Logic if logic else Falue_value

In [92]:
a = 5
'Pakistan' if a==5 else 'China'

'Pakistan'

In [95]:
["{} X {} = {}"]

['{} X {} = {}']

In [108]:
#[statement for element list]

["{} X {} = {}".format(2,x, 2*x) for x in range(1,11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

In [111]:
#[statement for element list]
[e  for e in range(1,1001) if (e%5==0 and e%7==0 and e%40==0)]

[280, 560, 840]