# anyName() #Predefined Function
ref.anyName() #Predefined Method

In [2]:
print("Mursal Furqan")

Mursal Furqan

In [5]:
a="Mursal"
print(a+a)
print(type(a))

MursalMursal
<class 'str'>

# String Class Method and Class

In [7]:
a.capitalize()

'Mursal'

In [8]:
a.isupper()

False

In [9]:
a.upper()

'MURSAL'

In [10]:
a.title()

'Mursal'

In [11]:
b=a.upper()

In [12]:
print(b)

MURSAL

In [14]:
a.center(5)

'Mursal'

In [15]:
b.isupper()

True

In [16]:
b.swapcase()

'mursal'

In [17]:
a.swapcase()

'mURSAL'

In [18]:
a.lower()

'mursal'

In [19]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [20]:
print?

In [21]:
a.center??

In [23]:
abc="""Name: Mursal Furqan
City: Hyderabad
Country: Pakistan"""
print(abc)

Name: Mursal Furqan
City: Hyderabad
Country: Pakistan

In [24]:
abc='''Name: Mursal Furqan
City: Hyderabad
Country: Pakistan'''
print(abc)

Name: Mursal Furqan
City: Hyderabad
Country: Pakistan

In [26]:
abc=""Name: Mursal Furqan
City: Hyderabad istan""
print(abc)

SyntaxError: invalid syntax (<ipython-input-26-e03489062947>, line 1)

In [30]:
card="""
********PIAIC******
Name: Mursal Furqan
Roll No: F16CS06
Location: Hyderabad
"""
print(card)

********PIAIC******
Name: Mursal Furqan
Roll No: F16CS06
Location: Hyderabad

In [35]:
name="Mursal Furqan"
fathers_name="M. Aijaz Athar"
roll_no = "F16CS06"

card="""
********PIAIC******
Name: {}
Father's Name: {}
Roll Number: {}
"""

print(card.format(name, fathers_name, roll_no))

********PIAIC******
Name: Mursal Furqan
Father's Name: M. Aijaz Athar
Roll Number: F16CS06

In [37]:
name= input("Ente Your Name: ")
fathers_name= input("Input Your Father's Name: ")
roll_no = input("Enter Your Roll Number: ")

card="""
********PIAIC******
Name: {}
Father's Name: {}
Roll Number: {}
"""

print(card.format(name, fathers_name, roll_no))

Ente Your Name: Mursal Furqan
Input Your Father's Name: M. Aijaz Athar
Enter Your Roll Number: F16CS06

********PIAIC******
Name: Mursal Furqan
Father's Name: M. Aijaz Athar
Roll Number: F16CS06

In [39]:
a="Paksitan"
b="Zindabad"
a+b #Concatinate

'PaksitanZindabad'

In [42]:
c="Pakistan"
d="2019"
c+d

'Pakistan2019'

In [44]:
a+d

'Paksitan2019'

# Operators

In [47]:
#Pemdas
+, -, *, /, %, //, **  #Mathematical Operators

=, +=, -=, *=, /=, %= #Assign Operators

==, >, <, >=, <=, !=, <> #Logical Operators

and, or #Combine Logic Checking

SyntaxError: invalid syntax (<ipython-input-47-d5d10d602265>, line 2)

# +, -, *, /, %, //, **  #Mathematical Operators

In [48]:
3-5

-2

In [49]:
5*48

240

In [50]:
12/4

3.0

In [51]:
23/3

7.666666666666667

15//4

In [53]:
15//4

3

In [54]:
15//4.0

3.0

In [56]:

2+6*8/5

11.6

In [57]:
3**2

9

In [61]:
2+6*8/5+(2*3)
2+6*8/5+6
2+48*5+6
2+9.5+6
2+15.6
17.5

17.5

In [60]:
2+6*8/5+(2*3)

17.6

In [63]:
2+6*8/5+(2*3)""

SyntaxError: invalid syntax (<ipython-input-63-55d5d8dc85d6>, line 1)


# =, +=, -=, *=, /=, %=, **= #Assign Operators

In [64]:
a="Pakistan"

In [65]:
a

'Pakistan'

In [66]:
a * 2

'PakistanPakistan'

In [67]:
a += "Hello"

In [68]:
a

'PakistanHello'

In [69]:
a*=2

In [70]:
a

'PakistanHelloPakistanHello'

In [71]:
a%= 2

TypeError: not all arguments converted during string formatting

In [72]:
a

'PakistanHelloPakistanHello'

In [73]:
clear

In [74]:
a

'PakistanHelloPakistanHello'

In [75]:
cls

In [76]:
a

'PakistanHelloPakistanHello'

In [77]:
pandra=15

In [78]:
pachees=25

In [79]:
pandra%=pachees

In [80]:
pandra

15

In [81]:
chaar %= pachees

NameError: name 'chaar' is not defined

In [82]:
a=15

In [83]:
a%= 4

In [84]:
a

3

In [85]:
a**=3

In [86]:
a

27

# ==, >, <, >=, <=, !=, <> #Logical Operators

In [87]:
a=15

In [88]:
b=14

In [89]:
a==b

False

In [90]:
5==5

True

In [91]:
5>3

True

In [92]:
5>5

False

In [93]:
5<5

False

In [94]:
5>=5

True

# and, or #Combine Logic Checking

In [95]:
5==5 or 6<=7 or 10>=9

True

In [98]:
5 == 5 | 1==4

False

In [101]:
a='abc'
b='xyz'
c=17

a+b+str(c)

'abcxyz17'

In [102]:
a='1'

In [103]:
b='1'

In [104]:
a+b

'11'

In [105]:
int(a)

1

In [106]:
int(b)

1

In [107]:
int(a) + int(b)

2

In [108]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [111]:
print("Mursal" , "Furqan", sep='\n')

Mursal
Furqan

# if, else, elif

if logic:
    true vlaue
else:
    false value

if logic1:
    true vlaue
elif logic2:
    true value
elif logic3:
    true value
elif logic4:
    true value
elif logic5:
    true value
else:
    false value

In [115]:
name=input("Enter Your Name: ")

if name.lower()=='qasim':
    print("Teacher")
else:
    print("Student")

Enter Your Name: Qasim
Teacher

In [125]:
per = int(input("Your Percentage: "))

if per >= 0 and per<33:
    print("Fail")
elif per >= 33 and per<40:
    print("E Grade")
elif per>=40 and per<50: 
    print("D Grade")
elif per>=50 and per<60: 
    print("C Grade")
elif per>=60 and per<70:
    print("B Grade")
elif per>=70 and per<80:
    print("A Grade")
elif per>=80 and per<=100:
    print("A+ Grade")
else:
    print("No idea")

Your Percentage: 159
No idea

In [126]:
names=["Mursal", "Furqan"]

In [127]:
names

['Mursal', 'Furqan']

In [ ]:
names[1]

In [ ]:
names=[]
while True:
    a=input("names: ")
    if a!='x':
        names.append(a)
    else:
        break

names